html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}*/

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #FFFFFF;
}
.text {
  color : #FFFFFF;
}

.button {
  /*border: none;*/
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #123765;
  text-align: center;
  font-size: 25px;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  position: relative;
  left : -200px;
  border-color: #FFFFFF;
}

.button:hover {
  background-color: #555;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/*.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #FFFFFF;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 22px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #FFD501;
  color: white;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
  text-decoration: none;
}*/

div.content {
  margin-left: 200px;
  padding: 0px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}