<!DOCTYPE html>
<html>
<head>
	<title>SelfieLess Acts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename = 'Signup.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <style type="text/css">
    .bgImage {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	}
	<style type="text/css">
		.categoryType {
			display: none;
		}
    .hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
	</style>
</head>
<body>
  <div class="hh"><p class="head">Selfieless Acts</p> </div>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li  style = "font-size: 20px;font-family: Montserrat;" ><a href="{{ url_for('homepage') }}">Home</a></li>
      <li  style = "font-size: 20px;font-family: Montserrat;" ><a href="{{ url_for('ActsPage') }}">Back</a></li>
      <li class="active" style = "font-size: 20px;font-family: Montserrat;" ><a href="#">Acts Size For Category</a></li>
    </ul>
  </div>
</nav>

	{% for i in rows %}
	<div id = "form">
  {% for key, value in i.items() %}
	<h1>{{ key }}</h1>
    <p id = size{{ key }} style="font-size: 20px"></p>
    <button type="submit" id = {{ key }}+Button value="Go" onclick = "getSize(this.id)">Go</button>
  {% endfor %}
	</div>
  {% endfor %}
    <script src="{{ url_for('static', filename = 'jquery-min.js') }}"></script>
	<script type="text/javascript">
		function categorySize(categoryName) {
        $.ajax({
            url : 'http://54.211.83.52:8000/api/v1/categories/' + categoryName + "/acts/size",
            dataType : "json",
            type : "GET",
            contentType: "application/json",
            success: function(data) {
              console.log(data)
              $("#size"+categoryName).html("Numeber of acts : " + data[0])
           }
        });
    };
		function getSize(categoryId) {
			categoryName = categoryId.split("+")[0]
			categorySize(categoryName)
		}
    try {
      console.log(document.getElementById("form").length())
        
    } 
  catch(err) {
    nav = document.getElementsByClassName("navbar navbar-inverse navbar-relative-bottom")
    nav[0].setAttribute("class","navbar navbar-inverse navbar-fixed-bottom" )
  }
	</script>
</br></br></br></br>
<nav class="navbar navbar-inverse navbar-fixed-bottom" style = "height: 13%">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br>
      <li style="color: white; font-size: 15px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 15px"><p>Assignment 1</p></li><br>
      <li style="color: white; font-size: 15px"><p>Cloud Computing</p></li><br>
    </ul>
  </div>
</nav>
</body>
</html>
