<!DOCTYPE html>
<html lang="en">
<head>
  <title>SelfieLess Acts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <style type="text/css">
  .bgImage {
    background-image: url("UpdatedBg.jpg");
    background-color: #f7e394;
    height: 800px;
    padding: 20px; 
    width: 70%;
    resize: both;
    overflow: auto;
    margin:auto;
  }
  .hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
  .inside{
    color: #689d95;
    font-family: "Arvo";
    font-size: 40px;
    margin-top: -20px;
    text-align: center;
  }
  /*purple: #7a59e4 lightblue #9fcff8 lightyellow #f7e394 somewhatgreen #71a294*/
  </style>
</head>
<body style = "background-color: #333;">
<div class="hh"><p class="head">Selfieless Acts</p> </div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li class="active" style = "font-size: 20px;font-family: 'Montserrat';" ><a href="#">Home</a></li>
      <li style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('categoryFile') }}">Categories</a></li>
      <li style = "font-size: 20px;font-family: 'Montserrat';"><a href="{{ url_for('aboutus') }}">About Us</a></li>
      <li style = "font-size: 20px;font-family: 'Montserrat';"><a href="{{ url_for('Signup') }}">Sign Up</a></li>
      <li style = "font-size: 20px;font-family: 'Montserrat';"><a href="{{ url_for('DeleteUser') }}">Delete Account</a></li>
    </ul>
  </div>
</nav> 
</br></br>
<div  align="center" class = "bgImage">
	</br>
  <p class="inside">Let's make a Difference...</p>
  <img src='{{url_for('static', filename = 'images/helpinghands.jpg')}}'>
  </br></br></br>
  <p class="inside">Together...</p>
</div>
</br></br>
</br></br>
<nav class="navbar navbar-inverse navbar-fixed-bottom" style = "height: 13%">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br>
      <li style="color: white; font-size: 15px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 15px"><p>Assignment 2</p></li><br>
      <li style="color: white; font-size: 15px"><p>Cloud Computing</p></li><br>
    </ul>
  </div>
</nav>
</body>
</html>