<html>   
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'Signup.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>SelfieLess Acts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <style type="text/css">
    .bgImage {
  background-image: url("UpdatedBg.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
</style>
</head>
<body>
	<div class="hh"><p class="head">Selfieless Acts</p> </div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li  style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('homepage') }}">Home</a></li>
      <li  style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('ActsPage') }}">Back</a></li>
      <li class="active" style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('actSizeForAGivenCategory') }}">Upload An Act</a></li>
    </ul>
  </div>
</nav>
        <div id = "form">
        <h1>Upload Act</h1>
        <fieldset>
          <legend><span class="number">*</span>Enter the details</legend>
          <p id = "outputFeedback" style="display: none; font-size: 30px"></p>

          <!-- <label for="name">ActId:</label>
          <input type="text" id="inputActId" name="inputActId"> -->
          <label for="name">User Name:</label>
          <input type="text" id="inputUserName" name="inputUserName">
          <!-- <label for="name">TimeStamp (In DD-MM-YYYY:SS-HH-MM)</label>
          <input type="text" id="timeStamp" name="timeStamp"> -->
          <label for="name">Caption:</label>
          <input type="text" id="caption" name="caption">
          <label for="name">Category Name:</label>
          <select id = "categoryname" name="categoryname"></select><br><br><br>
          <label for="name">Upload Image</label>
          <input type="file" id="inputFileName" name="inputFileName">
        </fieldset>
        <button id = "uploadAnAct" style="color : white; font-size: 20px;margin-top: 10px">Upload Act</button>
      </div>
      <script src="{{ url_for('static', filename = 'jquery-min.js') }}"></script>
    <script type="text/javascript">
      
      $.ajax({
            url : 'http://localhost:5000/getCategoryListCallFromClient',
            dataType : "json",
            type : "GET",
            xhrFields: {withCredentials: false},
            crossDomain: true,
            contentType: "application/json",
            success: function(data) {
              console.log(data)
              for (var key in data) {
                subObject = data[key]
                for (var subKey in subObject) {
                  var selectAttribute = document.getElementById("categoryname")
                  categoryObject = subObject[subKey]
                  for (var category in categoryObject) {
                    option = document.createElement("option")
                    option.style.fontSize = "25px"
                    option.innerHTML = category
                    selectAttribute.appendChild(option)
                }
                }
              }
           },
        });
      function callFunction( inputUserName, caption, categoryname, imgB64) {
      var inputImageArray =  {
        // "actId" : inputActId, 
        "username" : inputUserName, 
        // "timestamp" : timestamp, 
        "caption" : caption,
        "categoryName" : categoryname,
        "imgB64" : imgB64
      }
        $.ajax({
            url : 'http://54.211.83.52:5001/UploadAnActToBackend',
            dataType : "json",
            type : "POST",
            xhrFields: {withCredentials: false},
            crossDomain: true,
            data : JSON.stringify(inputImageArray),
            contentType: "application/json",
            success: function(data) {
          console.log("Uploaded an act act")
          // document.getElementById("inputActId").value = ''
          document.getElementById("inputUserName").value = ''
          // document.getElementById("timeStamp").value = ''
          document.getElementById("caption").value = ''
          document.getElementById("inputFileName").value = ''
          $("#outputFeedback").css("display","block")
          $("#outputFeedback").css("color","black")
          $("#outputFeedback").html("Act Uploaded")
           },
           error: function(jqXHR, textStatus, errorThrown) {
              statusCode = (jqXHR.status);
              statusMessage = (textStatus);
              errorStatus = (errorThrown);
              $("#outputFeedback").css("display","block")
              $("#outputFeedback").css("color","black")
              $("#outputFeedback").html("Invalid credentials")

    }
        });
      
    }
      function getBase64(file) {
          return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
      });
      }
      $('#uploadAnAct').click(function() {
      // inputActId = document.getElementById("inputActId").value
      inputUserName = document.getElementById("inputUserName").value
      // timestamp = document.getElementById("timeStamp").value
      categoryname = document.getElementById("categoryname").value
      caption = document.getElementById("caption").value
      imageFile = document.getElementById("inputFileName")
      imageFileObject = imageFile.files[0]
      getBase64(imageFileObject).then(
          data => callFunction(inputUserName, caption, categoryname,data.substring(22, data.length))
      )      
    });

    </script>
</br></br></br></br>
<nav class="navbar navbar-inverse navbar-fixed-bottom" style = "height: 13%">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br>
      <li style="color: white; font-size: 15px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 15px"><p>Assignment 1</p></li><br>
      <li style="color: white; font-size: 15px"><p>Cloud Computing</p></li><br>
    </ul>
  </div>
</nav>
    </body>
</html>
