<!DOCTYPE html>
<html>
<head>
	<title>GetActForCategory</title>
</head>
<body>
	<form action="{{ url_for('ActForCategory') }}" method="POST">
	<input type = "text" name = "SwachhBharat" value = "SwachhBharat">
      <p id="getPath">SwachhBharat</p>
    <input type="submit" value="Go">
  </form>
</body>
</html>