<!DOCTYPE html>
<html>
<head>
  <title>SelfieLess Acts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "Style.css">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #333;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style = "font-size: 30px;color: #FFFFFF">SelfieLessActs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active" style = "font-size: 20px" ><a href="#">Home</a></li>
      <li class="dropdown" style = "font-size: 20px"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Swacch Bharath</a></li>
          <li><a href="SocialServices.html">Social Services</a></li>
          <li><a href="AssistingFamilies.html">Assisting Families</a></li>
          <li><a href="Areas.html">Developement in Areas</a></li>
        </ul>
      </li>
      <li style = "font-size: 20px"><a href="#">About Us</a></li>
    </ul>
  </div>
</nav> 
<br><br><br>
<div class="sidebar" style= "position: fixed;">
  <a class="active" href="Index.html">Home</a>
  <a  href="#">Categories</a>
  <a href="#about">About</a>
</div>
<br><br>
{% for key, value in rows.items()%}
<div class="row" align="center">
  <div class="row" style="height: 50%;width: 40%; border: outset; border-color: #FFFFFF" >
    <div class="card">
      <img src=src={{ url_for('static', filename = values[5]) }} alt="Jane" style="width:100%">
      <div class="container">
        <h2 align="left" class="text">value[3]</h2>
        <p class="title" align="left">value[1]</p>
        <button class = "button">Upvote</button>
        <button  class = "button">Delete</button>
        <br><br>
      </div>
    </div>
  </div>
</div>
<% end for%>
  <!-- <br><br>
  <div class="row" align="center">
  <div class="row" style="height: 50%;width: 40%; border: outset; border-color: #FFFFFF" >
    <div class="card">
      <img src="static/images/swachhmodi.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2 align="left" class="text">PM leading the Swachh Bharat Abhiyan</h2>
        <p class="title" align="left">Namo namah _/\_</p>

        <button class = "button">Upvote</button>
        <button  class = "button">Delete</button>
        <br><br>
      </div>
    </div>
  </div>
</div>
  <br><br>
  <div class="row" align="center">
  <div class="row" style="height: 50%;width: 40%; border: outset; border-color: #FFFFFF" >
    <div class="card">
      <img src="static/images/sw_bharat3.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2 align="left" class="text">Swacch Bharat Abhiyaan</h2>
        <p class="title" align="left">.</p>

        <button class = "button">Upvote</button>
        <button  class = "button">Delete</button>
        <br><br>
      </div>
    </div>
  </div>
</div>
<br><br> -->
<nav class="navbar navbar-inverse navbar-relative-bottom" style = "height: 30%;width: 95%;">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br><br>
      <li style="color: white;font-size: 20px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 20px"><p>Assignment 1</p></li><br>
      <li style="color: white; font-size: 20px"><p>Cloud Computing</p></li><br>
      <br><br>
    </ul>
  </div>
  <br><br><br>
</nav>
</body>
</html>
