<!DOCTYPE html>
<html>
<head>
	<title>SelfieLess Acts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'Signup.css') }}">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    .bgImage {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	}
		.categoryType {
			display: none;
		}
    .hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
	</style>
</head>
<body>
  <div class="hh"><p class="head">Selfieless Acts</p> </div>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li  style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('homepage') }}">Home</a></li>
      <li  style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('ActsPage') }}">Back</a></li>
      <li class="active" style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('homepage') }}">Acts In Range</a></li>
    </ul>
  </div>
</nav>
  {% for i in rows %}
	<form action="{{ url_for('actsInCategoryRangeRequest') }}" method="POST">
	<input type = "text" id = {{ i }} class = "categoryType" name = "categoryname" value = {{ i }} style="display: none">
      <h1>{{ i }}</h1>
      <input type = "text" id = "start" name = "start" placeholder="Start Range">
      <input type = "text" id = "end" name = "end" placeholder="End Range">
    <button type="submit" value="Go">Go</button>
  </form>
  {% endfor %}
  <nav class="navbar navbar-inverse navbar-relative-bottom" style = "height: 20%">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br>
      <li style="color: white;font-size: 20px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 20px"><p>Assignment 2</p></li><br>
      <li style="color: white; font-size: 20px"><p>Cloud Computing</p></li><br>
    </ul>
  </div>
</nav>
</body>
</html>