<!DOCTYPE html>
<html lang="en">
<head>
  <title>SelfieLess Acts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <style type="text/css">
    .bgImage {
  background-image: url("UpdatedBg.jpg");
  background-color: #f7e394;
  height: auto;
  padding: 20px; 
  width: 70%;
  text-align: center;
  resize: both;
  overflow: auto;
  margin:auto;
  }
  .hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
  .lnks:link, .lnks:visited{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    width:60%;
    font-family: "Montserrat";
    font-size: 25px;
    vertical-align: text-top;
    text-decoration: none;
    display: inline-block;
  }
  .lnks:hover, .lnks:active{
    background-color: red;
  }
  </style>
</head>
<body style = "background-color: #333;">
<div class="hh"><p class="head">Selfieless Acts</p> </div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li style = "font-size: 20px; font-family: Montserrat;" ><a href="{{ url_for('homepage') }}">Home</a>
      <li style = "font-size: 20px;font-family: Montserrat;" ><a href="{{ url_for('categoryFile') }}">Back</a></li>
      <li class="active" style = "font-size: 20px;font-family: Montserrat;" ><a href="#">Acts</a></li>
    </ul>
  </div>
</nav> 
</br></br>
<div class = "bgImage">
  </br></br>
  <a class="lnks" href="{{ url_for('actSizeForAGivenCategory') }}">Acts Size For Category</a></br></br></br></br>
  <a class="lnks" href="{{ url_for('actsInCategoryRequest') }}">Acts For Category</a></br></br></br></br>
  <a class="lnks" href="{{ url_for('actsInCategoryRange') }}">Acts In Range</a></br></br></br></br>
  <a class="lnks" href="{{ url_for('UploadAnAct') }}">Upload An Act</a></br></br></br></br>
</div>
</br></br></br></br></br></br></br></br></br></br>
<nav class="navbar navbar-inverse navbar-fixed-bottom" style = "height: 13%">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br>
      <li style="color: white;font-size: 15px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 15px"><p>Assignment 1</p></li><br>
      <li style="color: white; font-size: 15px"><p>Cloud Computing</p></li><br>
    </ul>
  </div>
</nav>
</body>
</html>