<!DOCTYPE html>
<html>
<head>
  <title>SelfieLess Acts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href = {{ url_for('static', filename = 'Style.css') }}>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <style>
.hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
  </style>
</head>
<body style="background-color: #333;">
  <div class="hh"><p class="head">Selfieless Acts</p> </div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('homepage') }}">Home</a></li>
      <li style = "font-size: 20px;font-family: 'Montserrat';" ><a href="{{ url_for('actsInCategoryRange') }}">Back</a></li>
      <li class="active" style = "font-size: 20px;font-family: 'Montserrat';" ><a href="#">Acts For Category In Range</a></li>
    </ul>
  </div>
</nav>  
<br><br><br>
<<<<<<< HEAD
<div class="sidebar" style= "position: fixed;">
  <a class="active" href="Index.html">Home</a>
  <a  href="#">Categories</a>
  <a href="#about">About</a>
</div>
<br><br>

    {% for key, values in rows.items()%}
      <div class="row" align="center" id = image{{ key }}image>
        <div class="row" style="height: 50%;width: 40%; border: outset; border-color: #FFFFFF" >
          <div class="card">
            <img src="data:image/jpeg;base64,{{ values[5] }}" alt="Jane" style="width:100%">
            <div class="container">
              <h2 align="left" class="text">{{ values[3] }}</h2>
              <p class="title" align="left">{{ values[1] }}</p>
              <button class = "button" id = {{ key }} onclick = "upvoteAct(this.id)">{{ values[4] }} Upvote</button>
              <button  class = "button" id = image+{{ key }} onclick = "removeAct(this.id)">Delete</button>
              <br><br>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    {% endfor %}
<nav class="navbar navbar-inverse navbar-relative-bottom" style = "height: 30%;width: 95%;">
=======
{% for key, values in rows.items()%}
<div class="row" align="center" id = image{{ key }}image>
  <div class="row" style="height: 50%;width: 40%; border: outset; border-color: #FFFFFF" >
    <div class="card">
      <img src={{ url_for('static', filename = values[5]) }} alt="Jane" style="width:100%">
      <div class="container">
        <h2 align="left" class="text">{{ values[3] }}</h2>
        <p class="title" align="left">{{ values[1] }}</p>
        <button class = "button" id = {{ key }} onclick = "upvoteAct(this.id)">{{ values[4] }} Upvote</button>
        <button  class = "button" id = image+{{ key }} onclick = "removeAct(this.id)">Delete</button>
        <br><br>
      </div>
    </div>
  </div>
</div>
<br><br>
{% endfor %}
</br></br></br></br></br></br></br>
<nav class="navbar navbar-inverse navbar-fixed-bottom" style = "height: 13%">
>>>>>>> 597dc809ef9a59912694865bf9d5fa41969478e9
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br>
      <li style="color: white; font-size: 15px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 15px"><p>Assignment 1</p></li><br>
      <li style="color: white; font-size: 15px"><p>Cloud Computing</p></li><br>
    </ul>
  </div>
</nav>
<script src="{{ url_for('static', filename = 'jquery-min.js') }}"></script>
	<script type="text/javascript">
		function upvoteAct(actId) {
    	var inputActId = [actId]
        $.ajax({
            url : 'http://localhost:5000/api/v1/acts/upvote',
            dataType : "json",
            type : "POST",
            data: JSON.stringify(inputActId),
            contentType: "application/json",
            success: function(data) {
	     		console.log("Upvoted act")
	     		upvoteCount = parseInt(document.getElementById(actId).innerHTML)
	     		document.getElementById(actId).innerHTML = (upvoteCount += 1) + " Upvote"
           }
        });
    };
	function removeAct(actId) {
		inputActId = actId.split("+")[1]
        $.ajax({
            url : 'http://localhost:5000/api/v1/acts/' + inputActId,
            dataType : "json",
            type : "DELETE",
            contentType: "application/json",
            success: function(data) {
	     		console.log("Delete act")
	     		id = '#'+"image"+inputActId+"image"
				$(id).remove()
           }
        });
        
	}
	</script>
</body>
</html>
