<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>SelfieLess Acts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'Signup.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <style type="text/css">
    .bgImage {
  background-image: url("UpdatedBg.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  position: relative;
  width: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
</style>
</head>
<body style="background-color: #333">
  <div class="hh"><p class="head">Selfieless Acts</p> </div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <ul class="nav navbar-nav navbar-left">
      <li style = "font-size: 20px;font-family:'Montserrat';" ><a href="{{ url_for('homepage') }}">Home</a></li>
      <li style = "font-size: 20px;font-family:'Montserrat';" ><a href="{{ url_for('categoryFile') }}">Back</a></li>
      <li class="active" style = "font-size: 20px; font-family: 'Montserrat';" ><a href="#">View Categories</a></li>
    </ul>
  </div>
</nav>
{% for key, value in rows.items() %}
        <div id = "form">
            <h1>Category</h1>
            <fieldset>
              <label for="name" style="font-size: 35px">{{ key }}</label>
              <p id = "numberOfActs" style="font-size: 25px">Number of Acts: {{ value }}</p>
            </fieldset>
            <button >Go</button>
        </div>
{% endfor %}
<nav class="navbar navbar-inverse navbar-relative-bottom" style = "height: 20%">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br>
      <li style="color: white; font-size: 15px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 15px"><p>Assignment 1</p></li><br>
      <li style="color: white; font-size: 15px"><p>Cloud Computing</p></li><br>
    </ul>
  </div>
</nav>
  <script type="text/javascript">
  </script>
</body>
</html>