<!DOCTYPE html>
<html>
<head>
	<title>GetActForCategory</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'Signup.css') }}">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    .bgImage {
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	}
  .hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
		.categoryType {
			display: none;
		}
	</style>
</head>
<body>
  <div class="hh"><p class="head">Selfieless Acts</p> </div>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li  style = "font-size: 20px;font-family:'Montserrat';"><a href="{{ url_for('categoryFile') }}">Home</a></li>
      <li  style = "font-size: 20px;font-family:'Montserrat';"><a href="{{ url_for('ActsPage') }}">Back</a></li>
      <li class="active" style = "font-size: 20px;font-family:'Montserrat';" ><a href="#">Acts For Category</a></li>
    </ul>
  </div>
</nav>
</br></br>
<h1 style="font-size:50px; font-family: 'Montserrat';">Select a category</h1>
  {% for i in rows%}
	<form action="{{ url_for('actsInGivenCategory') }}" method="POST">
        <h1 style="font-size:20px; font-family: 'Montserrat';">Category Name</h1>
        <fieldset>
          <p id = "outputFeedback" style="display: none"></p>
          {% for key, value in i.items() %}
          <input type = "text" id = {{ key }} class = "categoryType" name = "categoryname" value = {{ key }} style = "display: none">
          <label for="name" style="font-size:40px;font-family: 'Montserrat';text-align: center;">{{ key }}</label>
          {% endfor %}
        </fieldset>
        <button >Go</button>
    </form>
    {% endfor %}
  </br></br></br></br>
<nav class="navbar navbar-inverse navbar-fixed-bottom" style = "height: 13%">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <br>
      <li style="color: white; font-size: 15px"><p>SelfieLessActs</p></li><br>
      <li style="color: white; font-size: 15px"><p>Assignment 2</p></li><br>
      <li style="color: white; font-size: 15px"><p>Cloud Computing</p></li><br>
    </ul>
  </div>
</nav>
</body>
</html>