
<html>   
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'Signup.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>SelfieLess Acts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo:b">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:b">
  <style type="text/css">
    .bgImage {
  background-image: url("UpdatedBg.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hh{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    text-align: center;
    min-height: 130px;
    background-color: #383a3d;
  }
  .head{
    font-family: "Arvo";
    font-size: 60px;
    color: white
  }
</style>
</head>
<body>
  <div class="hh"><p class="head">Selfieless Acts</p> </div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <ul class="nav navbar-nav navbar-left">
      <li style = "font-size: 20px;font-family:'Montserrat';" ><a href="{{ url_for('homepage') }}">Home</a></li>
      <li style = "font-size: 20px;font-family:'Montserrat';" ><a href="{{ url_for('categoryFile') }}">Back</a></li>
      <li class="active" style = "font-size: 20px; font-family: 'Montserrat';" ><a href="#">Remove Category</a></li>
    </ul>
  </div>
</nav>
      <div id = "form">
        <h1> Remove Category </h1>
        {% for i in rows %}
          {% for key, value in i.items() %}
              <h2 id = {{ key }}>*{{ key }}</h2>
          {% endfor %}
        {% endfor %}
        <fieldset>
          <legend><span class="number">*</span>Enter your details</legend>
          <p id = "outputFeedback" style="display: none; font-size: 30px"></p>
          <label for="name">Category Name:</label>
          <input type="text" id="inputCategoryName" name="inputCategoryName"> 
        </fieldset>
        <button id="deleteCategory" class="active" style = "font-size: 20px">Remove Category</button>
    </div>
    <script src="{{ url_for('static', filename = 'jquery-min.js') }}"></script>
    <script type="text/javascript">
      $(function() {
        
      $('#deleteCategory').click(function() {
        var inputCategoryName = document.getElementById("inputCategoryName").value
        console.log(inputCategoryName)
        $.ajax({
            url : 'http://localhost:5000/api/v1/categories/' + inputCategoryName,
            dataType : "json",
            type : "DELETE",
            contentType: "application/json",
            success: function(data) {
              console.log("Category Deleted")
              document.getElementById("inputCategoryName").value = ''
              $("#outputFeedback").css("display","block")
              $("#outputFeedback").css("color","black")
              $("#outputFeedback").html("Category deleted")
              $("#"+inputCategoryName).remove()
           },
           error: function(jqXHR, textStatus, errorThrown) {
                  statusCode = (jqXHR.status);
                  statusMessage = (textStatus);
                  errorStatus = (errorThrown);
                  $("#outputFeedback").css("display","block")
                  $("#outputFeedback").css("color","black")
                  $("#outputFeedback").html("Category name does not exsist")

            }
        });
      });
    })
    </script>
      <nav class="navbar navbar-inverse navbar-fixed-bottom" style = "height: 13%">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <br>
            <li style="color: white; font-size: 15px"><p>SelfieLessActs</p></li><br>
            <li style="color: white; font-size: 15px"><p>Assignment 1</p></li><br>
            <li style="color: white; font-size: 15px"><p>Cloud Computing</p></li><br>
          </ul>
        </div>
      </nav>
    </body>
</html>
